/* .page-header {
    background-color: #74bfff;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    background-image:url('logo.png');
    background-repeat:no-repeat;
    background-position:right 10px top 15px;
}



.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
} */

html, body {
	height: 100%;	
}

.home0 {
	background:url('backg2.png') white no-repeat center fixed;
	height: 100%;
}

table {
    border-collapse: collapse;
    width: 70%;
}

th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.content {
	padding-top: 100px;
}

.navbar {
	padding: 5px 5px;
    background-color: #ADA;
    font-size: 24px;
    border-bottom: 6px solid #197367;
    opacity: 0.9;
}

.navbar a:hover {
      color: #197367 !important;
      background-color: #fff;
}

.open .dropdown-toggle {
      color: #197367;
      background-color: #fff !important;
}
.metadata{
	color: #197367;
	padding: 10px;
}

.description{
	font-style: italic;
	padding: 10px;
}

.entete{
	height: 50px;
	padding: 5px;
    border-bottom: 6px solid #197367;
}

#profile-image1 {
    cursor: pointer;
  
     width: 100px;
    height: 100px;
	border:2px solid #03b1ce ;}
	.tital{ font-size:16px; font-weight:500;}
	 .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}	

.exo{
	padding: 15px;
    border: 5px solid grey;	
    background-color: #E3FED7;
    margin-bottom: 10px;
    margin-top: 10px;
}

.solution{
	border-left: 1px dotted red;
	padding: 10px;
}

.solution .text{
	background-color: #ffcccc; 	padding: 10px; 
	color: black;
  	border-radius: 10px;
}

.indication{
	border-left: 1px dotted orange;
	padding: 10px;
}

.indication .text{
	background-color: #fffccc; 	padding: 10px; 
	color: black;
  	border-radius: 10px;
}

.title {
  font-family:'Dekko';
  font-size:24pt;
  padding: 5px;
  text-transform: uppercase;
}

.exercice{
	border-radius: 10px;
	padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: 5px;
    background-color: ffffff;
}

.shortlist{
	background-color: #ddd;
	height: 120px;
	overflow: scroll;
}

.in_folder{
	margin-bottom: 50px;
	margin-top: 50px;
}

.folder{
	padding: 10px;
}

.numberCircle {
    border-radius: 15px;
    padding: 10px;
    background: #FEFEFF;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: Arial, sans-serif;
    margin-bottom: -5px
}

.detail_folder{
	margin-top: 0px;
	max-width: 800px
}

.scrollspy-folder {
position: relative;
height: 80%;
margin-top: 5px;
margin-bottom: 10px;
overflow: auto;
padding-bottom:10px;
padding-top: 10px;
background-color: eeeeee;
}





/* h1, h2, h3, h4 {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif; 
}
 */
.date {
    float: right;
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 24px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  font-size: 10px;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: #49D5C2;
  color: white;
}

.tag:hover::after {
   border-left-color: #49D5C2; 
}

.hello{
  font-family:'Dekko';
  font-size:32pt;
}

@import "compass/css3";



.wrapper {
  overflow: hidden;
}

.hider:before {
  content:'';
  display: inline-block;
  position: relative;
  left: 3px;
  border: 6px solid transparent;
  border-left-color: #000;
}
.hider.active:before {
  left: 0;
  top: 3px;
  border-color: #000 transparent transparent;
}
.hider:hover {
  cursor: pointer;
}

.contenthider {
  transition: transform 5s;
  display: none;
}
.contenthider.show {
  display: block;
}

tfoot {
    display: table-header-group;
}

tfoot input {
        width: 100%;
        padding: 1px;
        box-sizing: border-box;
        font-size: 10pt;
    }
.tableresponsive{
	overflow-x:auto;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 50;
    right: 0;
    background-color: #ADA;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 0px;
    font-size: 36px;
    margin-right: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
    
#fixedbutton {
    position: fixed;
    bottom: 0px;
    right: 0px; 
}

.listsearch {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 12px;
  padding: 5px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.myshortlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.myshortlist li a {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 6px;
  text-decoration: none;
  font-size: 12px;
  color: black;
  display: block
}

.myshortlist li a.header {
  background-color: #e2e2e2;
  cursor: default;
}

.myshortlist li a:hover:not(.header) {
  background-color: #49D5C2;
}




button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 14px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2212";
}

div.panel2 {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}





