{% load staticfiles %}
<!doctype html>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<html>
<head>
<title>{% block title %} {% endblock %}</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
<link
	href='//fonts.googleapis.com/css?family=Lobster&amp;subset=latin,latin-ext'
	rel='stylesheet' type='text/css'>


<link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">


<link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet' type='text/css'>

<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<link rel="stylesheet" href="{% static 'exobase/style.css' %}">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	
<script src="https://code.jquery.com/jquery-1.12.4.js" type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
	type="text/javascript"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js" type="text/javascript"></script>

	
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	type="text/javascript"></script>


<!-- MATHJAX    --------------------------------------------------------------        -->	
<script type="text/x-mathjax-config">
  		MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		</script>
<script type="text/javascript" async
	src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
</script>

<!-- GUPPY EDITOR    ---------------------------------------------------------        -->	
    <link rel="stylesheet" href="{% static 'guppy-js/guppy-default.min.css' %}">
    <link rel="stylesheet" href="{% static 'guppy-js/guppy-default-osk.min.css' %}">
    <script type="text/javascript" src="{% static 'guppy-js/guppy.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'guppy-js/guppy_osk.js' %}"></script>

<script type="text/javascript">
    window.onload = function() {
        output_type = "latex";
        document.getElementById("sample_output").readOnly = true;
        Guppy.init({"osk":new GuppyOSK({"goto_tab":"azerty"}),
    		"path":"{% static 'guppy-js' %}",
    		"symbols":"{% static 'sym/symbols.json' %}",
    		"events":{
    		    "ready": update_output,
    		    "change": update_output,
    		    "completion": completion,
    		},
    		"settings":{
    		    "empty_content": "{\\text{Click to start typing math!}}"
    		}});
        var g1 = new Guppy("guppy1");
    };

    function select_output(t){
        output_type = t;
        update_output({"target":Guppy.instances.guppy1});
        var l = document.getElementsByClassName("output-select");
        for(var i = 0; i < l.length; i++){
    	var new_class = l[i].getAttribute("class").replace(new RegExp("output-selected","g"),"output-unselected");
    	l[i].setAttribute("class", new_class);
        }
        var cur = document.getElementById("output_"+t);
        var new_class = cur.getAttribute("class").replace(new RegExp("output-unselected","g"),"output-selected");
        cur.setAttribute("class", new_class);
    }

    function update_output(e){
        try{
    	content = e.target.engine.get_content(output_type)+"";
    	if(content.replace(/\s/g,"").length == 0) content = "Output " + output_type + " will appear here";
    	document.getElementById("sample_output").value = content;
        }
        catch(e){
        	document.getElementById("sample_output").value = "Failed to parse input";
        	console.log(e.stack);
        }
    }

    function completion(e) {
        document.getElementById("sample_output").value = e.candidates.join(", ");
    }
    </script>



<!-- 	<link rel="stylesheet" href="{% static 'css/latex2html5.css' %}"> 
     <script type="text/javascript" src="{% static 'js/latex2html5.min.js' %}"></script>  -->
</head>

<!-- -------------------------------------------------------------BODY-------------------------------------------------------------------- -->
<body>

	{% include "exobase/menu.html" %}

{% block home %}

{% endblock %}

\(
{% block macro %}
{% endblock %}
\)

	<div class="container-fluid content ">
		<div class="row background-folder">
		<div class="col-md-8">

				{% if messages %} {% for message in messages %}
				<div id="error_message" style="padding-top:10px">
					<div class="alert alert-warning alert-dismissable fade in">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
						{{ message }}
					</div>
				</div>
				{% endfor %} {% endif %} 
				

			</div>
		</div>
	</div>
	<div class="container-fluid" style="margin:10px">
	<div class="row">
	{% block content %} {% endblock %}
	 </div>
	</div>

</body>




<script type="text/javascript">
	$(function() {
		$("#tabs").tabs({
			collapsible : true
		});
	});
	
	$(function() {
		  $('.hider').click(function() {
			  $(this).toggleClass('active').next().children('.contenthider').toggleClass('show');
			  });
			});
	
</script>
<script type="text/javascript">
$(function() {
    // Setup - add a text input to each footer cell
    $('#tabsearch tfoot th').each( function () {
        var title = $(this).text();
        $(this).html( '<input type="text" placeholder="Filtrer '+title+'" />' );
    } );
 
    // DataTable
    var table = $('#tabsearch').DataTable();
 
    // Apply the search
    table.columns().every( function () {
        var that = this;
 
        $( 'input', this.footer() ).on( 'keyup change', function () {
            if ( that.search() !== this.value ) {
                that
                    .search( this.value )
                    .draw();
            }
        } );
    } );
} );
</script>

</html>