


{% if exercice_list %}

<table id="tabsearch" class="display tableresponsive" width = "95%" cellspacing = "0">
<thead>
	<tr>
		<th> #Id </th>
		<th> Nom </th>
		<th> Description </th>
		<th> Auteur </th>
		<th> Date </th>
		<th> Tags </th>
		<th> Action </th>
	</tr>
</thead>
<tfoot>
	<tr>
		<th> #Id </th>
		<th> Nom </th>
		<th> Description </th>
		<th> Auteur </th>
		<th> Date </th>
		<th> Tags </th>
		<th> Action </th>
	</tr>
</tfoot>
<tbody>
    {% for exercice in exercice_list %}
	<tr> 
		<td> <kbd>#{{ exercice.pk }} </kbd></td>
		<td>  {{ exercice.name }} </td>
		<td>  {{ exercice.description }} </td>
		<td> {{ exercice.author }} </td>
		<td>  {{ exercice.pub_date }} </td>
		<td>  <ul class="tags">
{% for tag in exercice.tags.all %}
<li><a href="{% url 'exo_list'  tag_slug=tag.slug %}" class="tag"> {{ tag }}</a></li>
{% endfor %}
</ul>
</td>

		<td> {% with exercice.id|stringformat:"s" as ex_id %}
{% if 'exobase.see_exercice_'|add:ex_id in perms %}<span class="pull-right">
  			<a href="{% url 'detail'  exercice_id=exercice.id %}" class="btn btn-primary btn-xs" role="button"  >Open</a>
			</span>
  			<span class="pull-right">
  			<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myModal-{{ exercice.id }}">Preview</button>
			</span>
					 
{% endif %}
{% endwith %}
</td>
	</tr>

    {% endfor %}

</tbody>
</table>

    {% for exercice in exercice_list %}
	<div class="modal fade" id="myModal-{{ exercice.id }}" role="dialog">
    				<div class="modal-dialog modal-lg">
    
      				<!-- Modal content-->
      				<div class="modal-content">
        				<div class="modal-header">
          					<button type="button" class="close" data-dismiss="modal">&times;</button>
          					<h4 class="modal-title">{{ exercice.name }}</h4>
        				</div>
        				<div class="modal-body">
          				{{ exercice.enonce_html|safe }}
        				</div>
        				<div class="modal-footer">
          				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        				</div>
      				</div>
      
    				</div>
  				</div>
    {% endfor %}
{% else %}
    <div class="well">Aucun exercice ne correspond à la recherche.</div>
{% endif %}


