{% load staticfiles %}

<html>
    <head>
        <title>automath</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'exobase/style.css' %}">
        
        <script type="text/x-mathjax-config">
  		MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		</script>
		<script type="text/javascript" async
  		src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
		</script>
		
		<link rel="stylesheet" href="{% static 'css/latex2html5.css' %}"> 
     <script type="text/javascript" src="{% static 'js/latex2html5.min.js' %}"></script> 
    </head>
    
     <body>
    <div class="page-header">
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/exobase/">automath.org</a></h1>

{% if user.is_authenticated %}
<p> Vous êtes connecté en tant que : {{ user.username }}. </p> <a href="/exobase/logout/">Déconnexion</a>

{% else %}
<a href="/exobase/login/"> - Connexion - </a>
{% endif %}
<a href="/exobase/register/"> - Créer un nouveau compte utilisateur - </a>
<a href="/exobase/new/">- Ajouter un nouvel exercice -</a>
<a href="/exobase/search/">- Rechercher un exercice -</a>
    </div>
    
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>