{% load staticfiles %}

<html>
    <head>
        <title>automath</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'exobase/style.css' %}">
        
        <script type="text/x-mathjax-config">
  		MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
		</script>
		<script type="text/javascript" async
  		src="https://cdn.rawgit.com/mathjax/MathJax/2.7.1/MathJax.js?config=TeX-AMS_CHTML">
		</script>
		  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#accordion" ).accordion({
      heightStyle: "content"
    });
  } );
  </script>
    <script>
  $( function() {
    $( "#tabs" ).tabs({
      collapsible: true
    });
  } );
  </script>
		
	<!-- 	<link rel="stylesheet" href="{% static 'css/latex2html5.css' %}"> 
     <script type="text/javascript" src="{% static 'js/latex2html5.min.js' %}"></script>  -->
    </head>
    
     <body>
    <div class="page-header">
    <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/exobase/">automath.org</a></h1>

{% if user.is_authenticated %}
<p> Vous êtes connecté en tant que : {{ user.username }}. </p> <a href="/exobase/logout/">Déconnexion</a>

{% else %}
<a href="/exobase/login/"> - Connexion - </a>
<a href="/exobase/register/"> - Créer un nouveau compte utilisateur - </a>
{% endif %}
<a href="/exobase/new/">- Ajouter un nouvel exercice -</a>
<a href="/exobase/search/">- Rechercher un exercice par numéro -</a>
<a href="/exobase/search2/">- Rechercher un exercice par tag -</a>
<a href="{% url 'folder_new' %}">- Ajouter un nouveau dossier</a>
<form type="get" action='/exobase/list/' style="margin: 0">
    <input  id="search_box" type="text" name="search_box"  placeholder="Search..." >
    <button id="search_submit" type="submit" >Submit</button>
</form>

    </div>
    

    
    <div class="content container">
        <div class="row">
            <div  class="col-md-10">
            
             {% if messages %} {% for message in messages %} 
             <div id="error_message">
             <p>{{ message }}</p> 
             </div>
             {% endfor %} {% endif %} 
            
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>