{% extends 'exobase/base.html' %}

{% block content %}

<div class="title"> <span class="glyphicon glyphicon-education"></span> Liste de mes classes : </div>

Vous avez {{ class_list.count }} classes.

<table id="tabsearch" class="display tableresponsive" width = "100%" cellspacing = "0">
<thead>
	<tr>
		<th> #Id </th>
		<th> Nom </th>
		<th> Professeurs </th>
		<th> Description </th>
		<th> Nombre d'élèves </th>
		<th> Action </th>
	</tr>
</thead>
<tfoot>
	<tr>
		<th> #Id </th>
		<th> Nom </th>
		<th> Professeurs </th>
		<th> Description </th>
		<th> Nombre d'élèves </th>
		<th> Action </th>
	</tr>
</tfoot>
<tbody>
    {% for classe in class_list %}
	<tr>
	<td> {{ classe.pk }}  </td>
	<td> {{ classe.name }}  </td>
	<td> {% for i in classe.professeurs.all %} {{ i.first_name }} {{ i.last_name }}, {% endfor %} </td>
	<td> {{ classe.description }}  </td>
	<td> {{ classe.eleves.count }}  </td>
	<td> <a href="{% url 'classe_detail'  pk=classe.id %}" class="btn btn-primary btn-xs" role="button"  >Open</a> </td>
	</tr>
	{% endfor %}
</tbody>
</table>
	
{% endblock %}