{% extends 'exobase/base.html' %}

{% block content %}
<h1> Exercice {{ exercice.id }}  <a class="btn btn-default" href="{% url 'post_edit' pk=exercice.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
 </h1>
<p>
            <script type="tex/latex">
                {{ exercice.enonce_text }}
            </script>
            <script type="text/javascript">
                $('body').latex();
            </script>
</p>            
    
<h3>Correction : </h3>
<p>
            <script type="tex/latex">
                {{ exercice.corrige_text }}
</script>
            <script type="text/javascript">
                $('body').latex();
            </script>
</p>      

<h3>Tags : </h3> 
<p>{{ exercice.tags.all|join:", "}}</p> 

{% endblock %}

