{% extends 'exobase/base.html' %}

{% block content %}
<h1> Exercice {{ exercice.id }} <a class="btn btn-default" href="{% url 'post_edit' pk=exercice.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
 </h1>

            <script type="tex/latex">
                {{ exercice.enonce_text }}
            </script>
            <script type="text/javascript">
                $('body').latex();
            </script>
            
<form method="POST" class="post-form">{% csrf_token %}
        {{ form }}
</form>
    
<h3>Correction : </h3>



<p>{{ exercice.corrige_text }}</p>

<p>TAGS : {{ exercice.tags.all|join:", "}} </p>

{% endblock %}