{% extends 'exobase/base.html' %}
{% block title %} Nouvel exercice {% endblock %}

<!-- 
    <h1>Nouvel exercice {{ exercice.id }}</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
 -->

{% block content %}
<div class="container">
<div class="col-md-8">
<div class="title">{{ exercice.name }}</div>
<div class="hider"> Editer les métadonnées de l'exercice {{ exercice.id }}   </div>
<div class="wrapper">
<div class="contenthider">

  <form method="post" novalidate action="">
    {% csrf_token %}
    {% include 'exobase/includes/form.html' %}
    <button type="submit" class="btn btn-success btn-block">Enregistrer l'exercice</button>
  </form>

</div>

</div>
<a href="{% url 'ex_enonce_edit'  pk=exercice.pk %}">Editer l'énoncé 
 {% if exercice.enonce_html %}
  <div class="exo little">
 
                {{ exercice.enonce_html|safe }}
  
  </div>
   {% endif %}
   </a>
</div>
</div>

{% endblock %}























