{% extends 'exobase/base.html' %}

{% block content %}

<div class="title"> <span class="glyphicon glyphicon-folder-open"></span> Liste de mes dossiers : </div>

Vous avez {{ folder_list.count }} dossiers.

<table id="tabsearch" class="display tableresponsive" width = "100%" cellspacing = "0">
<thead>
	<tr>
		<th> #Id </th>
		<th> Nom </th>
		<th> Date </th>
		<th> Description </th>
		<th> Nombre d'exercices </th>
		<th> Action </th>
	</tr>
</thead>
<tfoot>
	<tr>
		<th> #Id </th>
		<th> Nom </th>
		<th> Date </th>
		<th> Description </th>
		<th> Nombre d'exercices </th>
		<th> Action </th>
	</tr>
</tfoot>
<tbody>
    {% for folder in folder_list %}
	<tr>
	<td> {{ folder.pk }}  </td>
	<td> {{ folder.name }}  </td>
	<td> {{ folder.pub_date }}  </td>
	<td> {{ folder.description }}  </td>
	<td> {{ folder.exercices.count }}  </td>
	<td> <a href="{% url 'folder_detail'  folder_id=folder.id %}" class="btn btn-primary btn-xs" role="button"  >Open</a> </td>
	</tr>
	{% endfor %}
</tbody>
</table>
	
{% endblock %}