{% extends 'exobase/base.html' %}
{% load static %}

{% load exobase_extras %}

{% block title %} OYM - Profile {% endblock %}

{% block content %}
<div class="container-fluid">
<div class="row">
        <div class="col-md-4">

<div  class="profile" align="center"> <img alt="User Pic" src="{% static 'exobase/avatar_defaut.png' %}" id="profile-image1" class="img-circle img-responsive"> 

{% if profile.avatar %}
<div  align="center"> <img  alt="User Pic" src="{{ profile.avatar.url  }}" id="profile-image1"> </div>
{% endif %}
<div class="title"> {{ profile.user.first_name }} {{ profile.user.last_name }}</div>
<div class='title2'> Identifiant : </div> <span> {{ profile.user.username }}</span>
<a class="btn btn-default" href="{% url 'profile_edit' %}"><span class="glyphicon glyphicon-pencil"></span></a>


<div class='title2'> Email : </div> <span> {{ profile.user.email }} </span>

<div class='title2'> Etablissement : </div> <span> {{ profile.organization }} </span>


<div class='title2'> Statut : </div> <span> {{ profile.get_work_display }} </span>

{% if profile.user|has_group:'PROFS' %}
<div class='title2'>
Vous avez les droits d'édition.
</div>
{% endif %}

</div>
</div>
<div class="col-md-8">

<button class="accordion title"> Mes 10 derniers exercices </button>
<div class="panel2"> 
<a class="btn btn-default" href="{% url 'exo_list2' %}"><span class="glyphicon glyphicon-search"></span> Recherche détaillée</a>
<a class="btn btn-default" href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span> Créer un nouvel exercice</a>
<div class="shortlist">
<ul id="myUL1" class="myshortlist">
{% for element in latest_exercices %}
<li><a href="{% url 'detail' exercice_id=element.id %}"> #{{ element.id }} - {{ element.name }}  ({{ element.pub_date }}) </a></li>
{% endfor %}
</ul>
</div>

<input type="text" id="myInput1" class="listsearch" onkeyup="ExoSearch()" placeholder="Chercher un nom..." title="Chercher un nom">
</div>

<button class="accordion title"> Mes classes </button>
<div class="panel2"> 
<a class="btn btn-default" href="{% url 'classe_list' %}"><span class="glyphicon glyphicon-search"></span> Recherche détaillée</a>
{% if profile.user|has_group:'PROFS' %}
<a class="btn btn-default" href="{% url 'classe_new' %}"><span class="glyphicon glyphicon-plus"></span> Créer une nouvelle classe</a>
{% endif %}
<div class="shortlist">
<ul id="myUL2" class="myshortlist">
{% for element in classe_list %}
<li><a href="{% url 'classe_detail' pk=element.id %}"> #{{ element.id }} - {{ element.name }}  </a></li>
{% endfor %}
</ul>
</div>

<input type="text" id="myInput2" class="listsearch" onkeyup="ClasseSearch()" placeholder="Chercher un nom..." title="Chercher un nom">
</div>


<button class="accordion title"> Mes Dossiers </button>
<div class="panel2"> 
<a class="btn btn-default" href="{% url 'folder_list' %}"><span class="glyphicon glyphicon-search"></span> Recherche détaillée</a>
<a class="btn btn-default" href="{% url 'folder_new' %}"><span class="glyphicon glyphicon-plus"></span> Créer un nouveau dossier</a>
<div class="shortlist">
<ul id="myUL" class="myshortlist">
{% for element in folder_list %}
<li><a href="{% url 'folder_detail' folder_id=element.id %}"> #{{ element.id }} - {{ element.name }}  ({{ element.pub_date }}) </a></li>
{% endfor %}
</ul>
</div>

<input type="text" id="myInput" class="listsearch" onkeyup="FolderSearch()" placeholder="Chercher un nom..." title="Chercher un nom">
</div>
</div>

</div>
</div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}

function FolderSearch() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}

function ExoSearch() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput1");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL1");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}

function ClasseSearch() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput2");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL2");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}

</script>
{% endblock %}



