{% extends 'exobase/base.html' %}
{% load exobase_extras %}

{% block content %}
<div class="container-fluid">
    <div class="title">Editer la solution </div>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
   </div>
   
<div>

{% if solution|sol_visible_by_group:'PUBLIC' %}


{% else %}



<button class="accordion"> Lecteurs autorisés : </button>

<div class="panel2">


<div class="shortlist">
<ul id="myUL" class="myshortlist">
{% for n in reader_list %}
<li><a href="#"> {{ n }} </a></li>
{% endfor %}
</ul>
</div>

<input type="text" id="myInput" class="listsearch" onkeyup="UserSearch()" placeholder="Chercher un nom..." title="Chercher un nom">

<div style="padding:10px">
Supprimer un lecteur :

 </div>
<div class="form-group">
<form method="POST" action="{% url 'sol_delete_reader' solution_id=solution_id %}">{% csrf_token %}
					<input id="delete_reader_box" type="text" name="delete_reader_box"
						class="input-sm form-control" placeholder="Nom">
					<button id="search_submit" type="submit"
						class="btn btn-warning btn-sm">
						<span class="glyphicon glyphicon-remove"></span> Supprimer
					</button>
</form>
</div>

<div style="padding:10px">
Ajouter un lecteur :

 </div>
<div class="form-group">
<form method="POST" action="{% url 'sol_add_reader' solution_id=solution_id %}">{% csrf_token %}
					<input id="add_reader_box" type="text" name="add_reader_box"
						class="input-sm form-control" placeholder="Nom">
					<button id="search_submit" type="submit"
						class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-eye-plus"></span> Ajouter
					</button>
</form>
</div>
</div>

<button class="accordion"> Classes autorisées : </button>

<div class="panel2">
<div class="shortlist">
<ul id="myUL2" class="myshortlist" >
{% for n in classe_list %}
<li><a href="#"> #{{ n.0 }} {{ n.1 }} </a></li>
{% endfor %}
</ul>
</div>

<input type="text" id="myInput2" class="listsearch" onkeyup="GroupSearch()" placeholder="Chercher une classe" title="Chercher une classe">

<div style="padding:10px">
Ajouter une classe :

 </div>
<div class="form-group">
<form method="POST" action="{% url 'sol_add_group' solution_id=solution_id %}">{% csrf_token %}
					<input id="add_group_box" type="text" name="add_group_box"
						class="input-sm form-control" placeholder="Numéro">
					<button id="search_submit" type="submit"
						class="btn btn-primary btn-sm">
						<span class="glyphicon glyphicon-eye-plus"></span> Ajouter
					</button>
</form>
</div>

<div style="padding:10px">
Supprimer une classe :

 </div>
<div class="form-group">
<form method="POST" action="{% url 'sol_delete_group' solution_id=solution_id %}">{% csrf_token %}
					<input id="delete_group_box" type="text" name="delete_group_box"
						class="input-sm form-control" placeholder="Numéro">
					<button id="search_submit" type="submit"
						class="btn btn-warning btn-sm">
						<span class="glyphicon glyphicon-remove"></span> Supprimer
					</button>
</form>
</div>
</div>

{% endif %}

</div>
  
<script>

function UserSearch() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}

function GroupSearch() {
    var input, filter, ul, li, a, i;
    input = document.getElementById("myInput2");
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL2");
    li = ul.getElementsByTagName("li");
    for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";

        }
    }
}

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].onclick = function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  }
}
</script>

  
{% endblock %}

